<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script
      src="http://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"></script>
  <title>java sdk demo</title>
  <style>
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .username {
      display: inline-block;
    }
    .content-wrapper{
      max-width: 800px;
      margin: 0 auto;
    }
    .row{
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div class="content-wrapper">
  <h1>获取用户基本信息</h1>
  <hr>
  <img src="${user.avatar}">
  <div class="username">你好，${user.username}！</div>
  <h1>消息发送</h1>
  <hr>
  <h2>纯文本消息</h2>
  <div class="row">
    <div class="col-md-6">
      <textarea class="form-control content" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">单人发送</button>
      <button type="button" class="btn btn-info">全体发送</button>
    </div>
  </div>
  <h2>待办消息</h2>
  标题<input class="processTitle"/> 
  内容<textarea class="processContent"></textarea>
  链接<input class="processUrl"/> 
  <a href="javascript:;" class="processSend">单人发送</a><input class="processMsgId"><a href="javascript:;" class="processComplete">完成</a>
  <hr>
  <h1>企业通讯录操作</h1>
  <div>
    <a href="javascript:;" class="memberPage">获取企业用户信息</a>
  </div>
  <div class="memberInfo"></div>
</div>
</body>
<script>
  $(document).ready(function(){
    $(".singleSend").click(function(){
      var content = $(".content").val();
      var data = {
        "openId":'${user.openid}',
        "text":content
      }
      sendRequest("text/msg/single/send",data);
    });
    $(".serviceSend").click(function(){
      var content = $(".content").val();
      var data = {
        "text":content
      }
      sendRequest("text/msg/service/send",data);
    });
    $(".processSend").click(function(){
      var content = $(".processContent").val();
      var url = $(".processUrl").val();
      var title = $(".processTitle").val();
      var data = {
        "title":title,
        "url":url,
        "content":content,
        "openId":'${user.openid}'
      }
      $.ajax({
        url:"process/msg/single/send",
        data:data,
        success:function (res) {
          $(".processMsgId").val(res);
        }
      })
    });
    $(".processComplete").click(function () {
      var msgId = $(".processMsgId").val();
      var data = {
        "openId":'${user.openid}',
        "msgId":msgId
      }
      sendRequest("process/msg/complete",data);
    });
    $(".memberPage").click(function () {
      var data = {
        "requestPage":1,
        "pageSize":20
      }
      $.ajax({
        url:"member/page",
        data:data,
        success:function (res) {
          $(".memberInfo").html(res);
        }
      })
    });

    function sendRequest(url,data) {
      $.ajax({
        url:url,
        data:data
      })
    }
  });
</script>
</html>